        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/jsCliente/bootstrap.min.js"></script>
        <script src="/jsCliente/jquery.validate.min.js"></script>
    </body>
</html>