<h1>
    New Real Estate
</h1>

<form name="realEstateForm" action="/realEstate" method="post">
    Name: <input type="text" name="name">
    Description: <input type="text" name="description">
    Capacity: <input type="text" name="capacity">
    Dimension: <input type="text" name="dimension">
    Number of Divisions: <input type="text" name="numberDivisions">
    Number of Rooms: <input type="text" name="numberRooms">
    Weekly Price: <input type="text" name="weeklyPrice">
    <!--Photos-->
    Location : <input type="text" name="locName">
    Latitude: <input type="text" name="latitude">
    Longitude: <input type="text" name="longitude">
    <!--Owner será enviado pelo o utilizador registado no momento-->
    <input type="submit" value="Submit">
</form>